<header>
    <main>
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='img/wey-hill-fc-logo.svg') }}" alt="Wey Hill FC Logo">
        </a>
        <div class="social">
            <a href="#"><i class="icon-fb-off"></i><i class="icon-fb-on"></i></a>
            <a href="#"><i class="icon-twt-off"></i><i class="icon-twt-on"></i></a>
            <a href="#"><i class="icon-yt-off"></i><i class="icon-yt-on"></i></a>
        </div>
        <nav>
            <a href="{{ url_for('home') }}" class="{{ 'active' if request.url_rule.rule == url_for('home') }}">Home</a>
            <a href="#">Fixtures</a>
            <a href="#">The Lads</a>
            <a href="#">About</a>
            <a href="#" class="small-button">Join us</a>
        </nav>
        <i class="icon-menu toggle-nav"></i>
    </main>
</header>