<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <title>Wey Hill FC | Ready to win | Football Club in Guildford, Surrey</title>
        <meta name="Keywords"
              content="wey hill football club, wey hill fc, whfc, guildford football club, sunday league football club, surrey and hants border league">
        <meta name="Description"
              content="Established on February 2016, Wey Hill FC is a Guildford football club, having Saturday and Sunday teams.">
    {% endblock %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/web-styles.css', v=css_version) }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/whfc.ico') }}" type="image/x-icon">
    <link href="https://file.myfontastic.com/N6ZKscfnU5aWtzGhDzs8KN/icons.css" rel="stylesheet">
    <meta name="google-site-verification" content="pdHpElsp5VofCr0g-VnXoIlsysx-V96Du-A6R5gVaWU"/>
    {% block fb_tags %}
    {% endblock %}
</head>

<body>
<script src="https://use.fontawesome.com/bbd631fc3b.js"></script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1422544084438526";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68656368-2', 'auto');
    ga('send', 'pageview');

</script>
<div class="wrapper">

    {% include 'main-parts/header.html' %}

    {% block main %}

        {% include 'pages/homepage.html' %}

    {% endblock %}

</div>
{% block scripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/global-1.0.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>