.small-button {
  background: $colour_green;
  color: white;
  padding: 0 20px;
  line-height: 36px;
  text-align: center;
  min-width: 100px;
  border: 2px solid;
  border-color: $colour_green;
  transition: 0.3s linear all;
  &.bigger {
    line-height: 44px;
    padding: 0 30px;
  }
  &:hover {
    background: white;
    color: $colour_green;
  }
}

.small-button-blue {
  @extend .small-button;
  background: $colour_blue;
  border-color: $colour_blue;
  &:hover {
    color: $colour_blue;
  }
}

.small-button-transparent {
  @extend .small-button;
  background: none;
  border-color: white;
  &:hover {
    color: $colour_dark;
  }
}