[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  &:before, &:after {
    float: left;
  }
}

main {
  width: 1326px;
  margin: 0 auto;
  @include laptop-screen {
    width: 100%;
    padding: 0 20px;
  }
}