header {
  height: 70px;
  width: 100%;
  background: white;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  main {
    @include flexbox;
    @include align-items(center);
    height: 100%;
    .logo {
      padding-top: 20px;
      height: 150px;
      align-self: flex-start;
    }
    .social {
      @include flexbox;
      @include align-items(center);
      height: 100%;
      margin: 0 20px;
      a {
        padding: 5px;
        > i {
          float: left;
          font-size: 30px;
          color: $colour_blue;
          &:last-child {
            display: none;
          }
        }
        &:hover > i {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
      }
    }
    nav {
      flex: 1;
      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-end);
      a:not(.small-button) {
        @include flex-fully-centered;
        font-weight: 400;
        padding: 0 15px;
        height: 70px;
        transition: 0.15s linear all;
        border: solid;
        border-width: 2px 0;
        border-color: white;
        &:hover {
          border-color: $colour_blue;
          height: 40px;
        }
      }
      a {
        text-transform: uppercase;
      }
      a:last-of-type {
        margin-left: 20px;
      }
    }
    .toggle-nav {
      display: none;
    }
    @include small-screens {
      .toggle-nav {
        display: block;
        font-size: 40px;
        margin-left: 30px;
      }
      nav a {
        &:not(.small-button) {
          display: none;
        }
      }
    }
  }
}