div.homepage {
  background-image: url('/static/img/main-image.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: $colour_blue;
  height: calc(100vh - 70px);
  background-attachment: fixed;
  margin-top: 70px;

  .last-fixtures {
    width: 350px;
    position: absolute;
    right: 0;
    top: 20px;
    p.title {
      color: white;
      text-align: right;
      padding: 5px 10px;
      font-size: 18px;
      background: $colour_dark;
    }
    > ul {
      > li {
        background: #eee;
        @include flexbox;
        &:nth-child(2n + 1) {
          background: white;
        }
        p {
          padding: 5px 10px;
          font-size: 14px;
          flex: 1;
          line-height: 20px;
          strong {
            line-height: 20px;
          }
        }
        span {
          background: $colour_blue_2;
          color: white;
          padding: 5px 10px;
          flex-basis: 60px;
          @include flex-fully-centered;
        }
      }
    }
  }
}

.join-banner {
  background: url('/static/img/gif.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -10%;
  > div {
    padding: 80px 0;
    background: rgba($colour_dark, 0.85);
    text-align: center;
    h1 {
      color: white;
      font-size: 40px;
      text-transform: uppercase;
      font-weight: bold;
    }
    h2 {
      color: white;
      margin: 30px 0 50px;
    }
    main > div {
      @include flex-fully-centered;
      > a:first-of-type {
        margin-right: 20px;
      }
    }
  }
}