// Mobile screen
@mixin mobile {
  @media only screen and (max-width: 479px) {
    @content;
  }
}

// Tablet screens on portrait and mobiles on landscape
@mixin tablet {
  @media only screen and (max-width: 767px) {
    @content
  }
}

// Landscape tablets and small screen monitors - landscape tablets should have same UX/UI as small screens on desktop
@mixin small-screens {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

// 1280px Breakpoint
@mixin break-1280 {
  @media only screen and (max-width: 1279px) {
    @content;
  }
}

// Normal Monitors
@mixin laptop-screen {
  @media only screen and (max-width: 1365px) {
    @content;
  }
}

// Custom min-width
@mixin custom-min-width($width) {
  @media only screen and (min-width: #{$width}px) {
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

// FLEXBOX MIXINS FOR CROSS-BROWSER USE

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-i {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit Box fallback.
  -moz-flex-flow: $values;
  -webkit-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -moz-justify-content: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  align-items: $value;
  -webkit-align-items: $value;
  -moz-align-items: $value;
}

@mixin flex-fully-centered {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  flex-direction: $value;
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
}

@mixin flex-direction-i($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: horizontal !important;
  } @else if $value == column {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: vertical !important;
  } @else {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
  }
  flex-direction: $value !important;
  -webkit-flex-direction: $value !important;
  -moz-flex-direction: $value !important;
  -ms-flex-direction: $value !important;
}

@mixin hGrad($colour1, $colour2) {
  background: $colour1; /* Old browsers */
  background: -moz-linear-gradient(left, $colour1 0%, $colour2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $colour1 0%,$colour2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $colour1 0%,$colour2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin vGrad($fromColor, $toColor) {
  background: $toColor;
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor)!important;
  background-image: -webkit-gradient(linear, top, top, from($fromColor), to($toColor))!important;
  background-image: -ms-linear-gradient(top, $fromColor, $toColor)!important;
  background-image: -moz-linear-gradient(top, $fromColor, $toColor)!important;
  background-image: -o-linear-gradient(top, $fromColor, $toColor)!important;
  background-image: linear-gradient(to bottom, $fromColor, $toColor)!important;
}