@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

$font_main: 'Raleway', sans-serif;

p, a, span, div, li, h1, h2, h3, h4, h5, h6, input, textarea, select {
  font-family: $font_main;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
}

p {
  font-size: 1em;
  font-family: $font_main;
  color: $colour-font;
  sup {
    line-height: 0;
    font-size: 10px;
  }
  a {
    font-size: 1em;
    color: $colour-green;
    &:hover {
      text-decoration: underline;
    }
  }
  &.title {
    font-size: 1.25em;
    font-weight: 400;
    color: $colour-blue;
  }
  &.bigger {
    font-size: 1.125em;
  }
  &.subtitle {
    font-weight: 400;
    font-size: 1.25em;
  }
}

span, strong, em, small {
  display: inline-block;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: $colour-font;
  display: inline-block;
}

h1, h2, h3 {
  color: $colour-blue;
  font-weight: 400;
}

h1 {
  font-size: 1.875em;
  @include tablet {
    font-size: 1.35em;
  }
}

h2 {
  font-size: 1.5em;
  @include tablet {
    font-size: 1.25em;
  }
}

h3 {
  font-size: 1.375em;
  @include tablet {
    font-size: 1.25em;
  }
}

strong {
  font-weight: 600;
}

