@charset "UTF-8";

@font-face {
  font-family: "whfc";
  src:url("fonts/whfc.eot");
  src:url("fonts/whfc.eot?#iefix") format("embedded-opentype"),
    url("fonts/whfc.woff") format("woff"),
    url("fonts/whfc.ttf") format("truetype"),
    url("fonts/whfc.svg#whfc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "whfc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "whfc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\62";
}
.icon-more:before {
  content: "\63";
}
.icon-menu:before {
  content: "\61";
}
.icon-twt-off:before {
  content: "\64";
}
.icon-twt-on:before {
  content: "\65";
}
.icon-yt-off:before {
  content: "\66";
}
.icon-yt-on:before {
  content: "\67";
}
.icon-fb-off:before {
  content: "\68";
}
.icon-fb-on:before {
  content: "\69";
}
