<div class="homepage">
    <main>
        <div class="last-fixtures">
            <p class="title">Last fixtures</p>
            <ul>
                <li>
                    <p>Woodham Victoria FC - <strong>Wey Hill FC</strong></p>
                    <span>2 - 1</span>
                </li>
                <li>
                    <p><strong>Wey Hill Academy</strong> - AFC Egham</p>
                    <span>4 - 3</span>
                </li>
                <li>
                    <p>Knaphill Athletic FC - <strong>Wey Hill Academy</strong></p>
                    <span>2 - 4</span>
                </li>
            </ul>
        </div>
    </main>
</div>
<div class="join-banner">
    <div>
        <main>
            <h1>Saturday &amp; Sunday football club in Guildford</h1>
            <h2>Looking to join a local football team? Come and train with us!</h2>
            <div>
                <a href="#" class="small-button-transparent bigger">Contact us</a>
                <a href="#" class="small-button-transparent bigger">Register for training</a>
            </div>
        </main>
    </div>
</div>
<div class="social-timelines">
    <main>
        <div class="fb-page" data-href="https://www.facebook.com/weyhillfc/" data-tabs="timeline"
             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
             data-show-facepile="true" data-width="400" data-height="700">
            <blockquote
                    cite="https://www.facebook.com/weyhillfc/"
                    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/weyhillfc/">Wey
                Hill
                FC</a></blockquote>
        </div>
        <a class="twitter-timeline" href="https://twitter.com/weyhillfc">Tweets by weyhillfc</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </main>
</div>